
.layout-container {
  // height: 100vh;
  .el-aside {
    background-color: transparent;


    .el-menu {
      margin-left: 10px;
      background-color: rgba(255, 255, 249, 0.5);
      border-radius: 10px;
      margin-top: 20px;
      border-right: none;
      .el-menu-item {

        &:hover {
          border-radius: 10px;
          background-color: rgba(255, 254, 215, 0.897);
          color: #666;
          &:focus{
            color: aqua;
          }
        }

      }

    }
  }
  .el-header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .el-dropdown__box {
      display: flex;
      align-items: center;
      .el-icon {
        color: #999;
        margin-left: 10px;
      }

      &:active,
      &:focus {
        outline: none;
      }
    }
  }
  .el-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #666;
  }
}
.page-container {
  background: url('@/assets/images/pagebg.png');
  min-height: 100%;
  box-sizing: border-box;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
